{:base
 ;; not helpful to instrument
 #{list not some? str = get nil?}
 :clj #{;; CLJ-1941
        partition-all
        ;; https://github.com/borkdude/speculative/issues/264
        hash-map}
 :cljs #{;; CLJS-3023
         next
         ;; same as CLJS-3023
         apply
         ;; same as CLJS-3023
         seq}}
