{:paths ["resources" "src"]
 :deps {clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2"
                             :sha "639767ebe1491536ec7404d8b478628ecfe9200b"}}
 :aliases
 {:test {:extra-paths ["test"]
         ;; why is this again?
         :jvm-opts ["-Dclojure.spec.skip-macros"]
         :extra-deps {org.clojure/clojure {:mvn/version "1.10.0"}
                      org.clojure/clojurescript {:mvn/version "1.10.439"}
                      mfikes/workarounds-1.10.439 {:git/url "https://github.com/mfikes/workarounds-1.10.439"
                                                   :sha "a559201602fc6a21701479b83086d76bd5ed09eb"}
                      org.clojure/test.check {:mvn/version "RELEASE"}
                      respeced {:git/url "https://github.com/borkdude/respeced"
                                :sha "d13e39fc177c514339d32662ed458e7c20868a6a"}}}
  :repl ;; works for clj and planck, use :cljs-repl for normal cljs
  {:main-opts
   ["-e" "(require,'[speculative.core])"
    "-e" "(require,'[respeced.test,:refer,[with-instrumentation,with-unstrumentation,check]])"
    "-e" "(require,'[clojure.spec-alpha2,:as,s])"
    "-e" "(require,'[clojure.spec-alpha.test,:as,stest])"
    "-e" "(require,'[clojure.spec-alpha.gen,:as,gen])"
    "-r"]}
  :clj-tests ;; we use a script, because then we can call shutdown-agents, which
  ;; brings down the process faster after running generative tests
  {:main-opts ["-m" "speculative.test-runner"]}
  :clj-test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/borkdude/test-runner"
                 :sha "fe83104e9feb48e43673b31f23f131b3849a3776"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :cljs-repl {:main-opts ["-m" "cljs.main" "-re" "node"
                          "-e" "(require,'[speculative.core])"
                          "-e" "(require,'[respeced.test,:refer,[with-instrumentation,with-unstrumentation,check]])"
                          "-e" "(require,'[clojure.spec.alpha,:as,s])"
                          "-e" "(require,'[clojure.spec.test.alpha,:as,stest])"
                          "-e" "(require,'[clojure.spec.gen.alpha,:as,gen])"
                          "-r"]}
  :cljs-tests
  {:main-opts ["-m" "cljs.main" "-re" "node" "-m" "speculative.test-runner"]}
  :compile-node-tests
  {:main-opts ["-m" "cljs.main" "-t" "node" "-c" "speculative.test-runner"]}
  :cljs-tests-nashorn
  {:main-opts ["-m" "cljs.main" "-re" "nashorn" "-m" "speculative.test-runner"]}
  ;; we use the test runner because vanilla cljs.main + node doesn't exit
  ;; properly
  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:git/url "https://github.com/borkdude/cljs-test-runner"
                                         :sha "6627c970315ca5cbb836221f6d0d400afbc87290"}}
   :extra-paths ["test" "cljs-test-runner-out/gen"]
   :main-opts ["-m" "cljs-test-runner.main"]}
  :plk-tests
  {:main-opts ["-m" "speculative.test-runner"]}
  :cost
  {:main-opts ["-m" "speculative.cost"]}
  :cljs-cost
  {:main-opts ["-m" "cljs.main" "-re" "node" "-m" "speculative.cost"]}
  :coal-mine-clj
  {:extra-deps {github-mfikes/coal-mine
                {:git/url "https://github.com/mfikes/coal-mine"
                 :sha "4ef887f6707ffbce94f05cd6876997290c399665"}}
   :jvm-opts ["-XX:CompressedClassSpaceSize=2g"]
   :main-opts ["-e" "(require,'[patch.clj-2443])"
               "-e" "(require,'[speculative.instrument,:refer,[instrument]])"
               "-e" "(instrument)"
               "-m" "coal-mine.test-runner"]}
  :coal-mine-cljs
  {:extra-deps {github-mfikes/coal-mine
                {:git/url "https://github.com/mfikes/coal-mine"
                 :sha "4ef887f6707ffbce94f05cd6876997290c399665"}}
   :jvm-opts ["-Xmx6g"]
   :main-opts ["-m" "cljs.main"
               "-co" "{:parallel-build,true}"
               "-re" "node"
               "-e" "(require,'[speculative.instrument,:refer,[instrument]])"
               "-e" "(instrument)"
               "-m" "coal-mine.test-runner"]}
  :coal-mine-runner-clj
  {:extra-deps {github-mfikes/coal-mine
                {:git/url "https://github.com/mfikes/coal-mine"
                 :sha "4ef887f6707ffbce94f05cd6876997290c399665"}}
   :jvm-opts ["-Xmx6g"]
   :main-opts ["-e" "(require,'[speculative.instrument,:refer,[instrument]])"
               "-e" "(instrument)"
               "-m" "speculative.coal-mine-runner"]}
  :coal-mine-runner-cljs
  {:extra-deps {github-mfikes/coal-mine
                {:git/url "https://github.com/mfikes/coal-mine"
                 :sha "4ef887f6707ffbce94f05cd6876997290c399665"}}
   :jvm-opts ["-Xmx6g"]
   :main-opts ["-m" "cljs.main"
               "-co" "{:parallel-build,true}"
               "-re" "node"
               "-e" "(require,'[speculative.instrument,:refer,[instrument]])"
               "-e" "(instrument)"
               "-m" "speculative.coal-mine-runner"]}
  :coal-mine-generator
  {:main-opts ["-m" "speculative.coal-mine-generator"]}
  }}
