{:paths ["resources" "src" "patch"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0-RC1"}
        mfikes/workarounds-1.10.439 {:git/url "https://github.com/mfikes/workarounds-1.10.439"
                                     :sha "a559201602fc6a21701479b83086d76bd5ed09eb"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/clojurescript
                      {:mvn/version "1.10.439"}
                      org.clojure/test.check {:mvn/version "RELEASE"}
                      net.cgrand/macrovich {:mvn/version "0.2.1"}}}
  :repl ;; works for clj and planck, use :cljs-repl for normal cljs
  {:main-opts
   ["-e" "(require,'[speculative.core])"
    "-e" "(require,'[speculative.test,:refer,[with-instrumentation,with-unstrumentation,check]])"
    "-e" "(require,'[clojure.spec.alpha,:as,s])"
    "-e" "(require,'[clojure.spec.test.alpha,:as,stest])"
    "-e" "(require,'[clojure.spec.gen.alpha,:as,gen])"
    "-r"]}
  :clj-tests ;; we use a script, because then we can call shutdown-agents, which
  ;; brings down the process faster after running generative tests
  {:main-opts ["-m" "speculative.test-runner"]}
  :clj-test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :cljs-repl {:main-opts ["-m" "cljs.main" "-re" "node"
                          ;;"-e" "(require,'[speculative.core])"
                          "-e" "(require,'[speculative.test,:refer,[with-instrumentation,with-unstrumentation,check]])"
                          "-e" "(require,'[clojure.spec.alpha,:as,s])"
                          "-e" "(require,'[clojure.spec.test.alpha,:as,stest])"
                          "-e" "(require,'[clojure.spec.gen.alpha,:as,gen])"
                          "-r"]}
  :cljs-tests
  {:main-opts ["-m" "cljs.main" "-re" "node" "-m" "speculative.test-runner"]}
  ;; we use the test runner because vanilla cljs.main + node doesn't exit
  ;; properly
  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.1.0"}}
   :main-opts ["-m" "cljs-test-runner.main"]}
  :plk-tests
  {:main-opts ["-m" "speculative.test-runner"]}
  :coal-mine-clj
  {:extra-deps {github-mfikes/coal-mine
                {:git/url "https://github.com/mfikes/coal-mine"
                 :sha "4b85fa78af4ec7be2e56803440ff78186f9b10c8"}}
   :jvm-opts ["-XX:CompressedClassSpaceSize=2g"]
   :main-opts ["-e" "(require,'speculative.core,'clojure.spec.test.alpha)"
               "-e" "(clojure.spec.test.alpha/instrument)"
               "-m" "coal-mine.test-runner"]}
  :coal-mine-cljs
  {:extra-deps {github-mfikes/coal-mine
                {:git/url "https://github.com/mfikes/coal-mine"
                 :sha "4b85fa78af4ec7be2e56803440ff78186f9b10c8"}}
   :jvm-opts ["-Xmx6g"]
   :main-opts ["-m" "cljs.main"
               "-co" "{:parallel-build,true}"
               "-re" "node"
               "-e" "(require,'speculative.core,'clojure.spec.test.alpha)"
               "-e" "(clojure.spec.test.alpha/instrument)"
               "-m" "coal-mine.test-runner"]}}}
