{:paths ["resources" "src"]
 :deps {clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2"
                             :sha "639767ebe1491536ec7404d8b478628ecfe9200b"}}
 :aliases
 {:test {:extra-paths ["test"]
         :jvm-opts ["-Dclojure.spec.skip-macros"]
         :extra-deps {org.clojure/clojure {:mvn/version "1.10.0-beta5"
                                           :exclusions
                                           [org.clojure/spec.alpha
                                            org.clojure/core.specs.alpha]
                                           }
                      org.clojure/test.check {:mvn/version "RELEASE"}}}
  :repl ;; works for clj and planck, use :cljs-repl for normal cljs
  {:main-opts
   ["-e" "(require,'[speculative.core])"
    "-e" "(require,'[speculative.test,:refer,[with-instrumentation,with-unstrumentation,check]])"
    "-e" "(require,'[clojure.spec-alpha2,:as,s])"
    "-e" "(require,'[clojure.spec-alpha.test,:as,stest])"
    "-e" "(require,'[clojure.spec-alpha.gen,:as,gen])"
    "-r"]}
  :clj-tests ;; we use a script, because then we can call shutdown-agents, which
  ;; brings down the process faster after running generative tests
  {:main-opts ["-m" "speculative.test-runner"]}
  :clj-test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :cljs-repl {:main-opts ["-m" "cljs.main" "-re" "node"
                          "-e" "(require,'[speculative.core])"
                          "-e" "(require,'[speculative.test,:refer,[with-instrumentation,with-unstrumentation,check]])"
                          "-e" "(require,'[clojure.spec-alpha2,:as,s])"
                          "-e" "(require,'[clojure.spec-alpha2.test,:as,stest])"
                          "-e" "(require,'[clojure.spec.gen.alpha,:as,gen])"
                          "-r"]}
  :cljs-tests
  {:main-opts ["-m" "cljs.main" "-re" "node" "-m" "speculative.test-runner"]}
  :compile-node-tests
  {:main-opts ["-m" "cljs.main" "-t" "node" "-c" "speculative.test-runner"]}
  :cljs-tests-nashorn
  {:main-opts ["-m" "cljs.main" "-re" "nashorn" "-m" "speculative.test-runner"]}
  ;; we use the test runner because vanilla cljs.main + node doesn't exit
  ;; properly
  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.1.0"}}
   :main-opts ["-m" "cljs-test-runner.main"]}
  :plk-tests
  {:main-opts ["-m" "speculative.test-runner"]}
  :cost
  {:main-opts ["-m" "speculative.cost"]
   :extra-deps {com.taoensso/tufte {:mvn/version "1.4.0"}}}
  :cljs-cost
  {:main-opts ["-m" "cljs.main" "-re" "node" "-m" "speculative.cost"]}
  :coal-mine-clj
  {:extra-deps {github-mfikes/coal-mine
                {:git/url "https://github.com/mfikes/coal-mine"
                 :sha "a7e85d0d018ebd29a775a986ab9df386de8523c5"}}
   :jvm-opts ["-XX:CompressedClassSpaceSize=2g"]
   :main-opts ["-e" "(require,'speculative.instrument)"
               "-m" "coal-mine.test-runner"]}
  :coal-mine-cljs
  {:extra-deps {github-mfikes/coal-mine
                {:git/url "https://github.com/mfikes/coal-mine"
                 :sha "a7e85d0d018ebd29a775a986ab9df386de8523c5"}}
   :jvm-opts ["-Xmx6g"]
   :main-opts ["-m" "cljs.main"
               "-co" "{:parallel-build,true}"
               "-re" "node"
               "-e" "(require,'speculative.instrument)"
               "-m" "coal-mine.test-runner"]}
  :coal-mine-generator
  {:main-opts ["-m" "speculative.coal-mine-generator"]}
  :coal-mine-runner-cljs
  {:extra-deps {github-mfikes/coal-mine
                {:git/url "https://github.com/mfikes/coal-mine"
                 :sha "a7e85d0d018ebd29a775a986ab9df386de8523c5"}}
   :jvm-opts ["-Xmx6g"]
   :main-opts ["-m" "cljs.main"
               "-co" "{:parallel-build,true}"
               "-re" "node"
               "-e" "(require,'speculative.instrument)"
               "-m" "speculative.coal-mine-runner"]}}}
