{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changelog" {:file "CHANGELOG.md"}]
                   ["Contributing" {:file "CONTRIBUTING.md"}]
                   ["Issues" {:file "doc/issues.md"}]
                   ["Users" {:file "doc/users.md"}]]}
